#ggg {
  color: #fff;
  background-color: rgb(35, 105, 96);
  border-radius: 25px;
  width: 250px;
  height: auto;
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#download {
  text-align: center;
  bottom: 15px;
  width: 80%;
  /* left: 10%; */
  height: 25px;
}

#download-label {
  width: 97%;
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
